* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 25px;
}
header nav {
  display: flex;
  flex-direction: row;
}
header nav a {
  margin-right: 35px;
  cursor: pointer;
  text-decoration: none;
  color: #212121;
}

.slide {
  position: relative;
  display: flex;
}
.slide .container {
  height: 100%;
  width: 100%;
}
.slide .container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: absolute;
}
.slide .container .header-text {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: 100%;
  line-height: 110px;
  margin: 0 auto;
}
.slide .container .header-text h1 {
  font-size: 3rem;
}
.slide .container .header-text p {
  font-size: 1.4rem;
}
.slide .container .header-text i {
  font-size: 30px;
  cursor: pointer;
}
.slide .container .header-buttons > button {
  border: 2px solid #fff;
  padding: 15px 40px;
  background: transparent;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.slide .container .header-buttons > button:hover {
  background-color: #00897b;
  border: 2px solid #00897b;
}

.about-us {
  margin-top: 75px;
  width: 100%;
  height: 100%;
}
.about-us .about-us-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.about-us .about-us-text p {
  width: 600px;
  margin: 0 auto;
}
.about-us .about-us-cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about-us .about-us-cards span {
  font-weight: bold;
}
.about-us .about-us-cards .awesome {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 230px;
  border-radius: 10px;
}
.about-us .about-us-cards .awesome p {
  width: 250px;
  line-height: 30px;
  text-align: center;
}
.about-us .about-us-cards .awesome:hover {
  box-shadow: 10px 5px 10px grey;
}
.about-us .about-us-cards .page {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 230px;
  border-radius: 10px;
}
.about-us .about-us-cards .page p {
  width: 250px;
  line-height: 30px;
  text-align: center;
}
.about-us .about-us-cards .page:hover {
  box-shadow: 10px 5px 10px grey;
}
.about-us .about-us-cards .responsyve {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 230px;
}
.about-us .about-us-cards .responsyve p {
  width: 250px;
  line-height: 30px;
  text-align: center;
}
.about-us .about-us-cards .responsyve:hover {
  box-shadow: 10px 10px 10px grey;
}

.services {
  color: black;
  padding: 50px;
  margin-top: 75px;
  background-color: #e4fdf9;
}
.services .services_text {
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
}
.services .services_text p {
  margin-top: 10px;
  width: 700px;
  line-height: 20px;
}
.services .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
.services .cards .card {
  padding: 10px;
  width: 250px;
  margin-top: 20px;
  height: 320px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.services .cards .card button {
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase;
  outline: 2px solid black;
  border: none;
  font-weight: 700;
}
.services .cards .card button:hover {
  outline: 2px solid white;
  color: white;
  background-color: transparent;
}
.services .cards .card:hover {
  color: white;
  background-color: #00897b;
  transition: 0.4s;
}
.services .cards .card img {
  filter: drop-shadow(1px 1px 1px);
}

.latest {
  margin-top: 50px;
}
.latest .latest_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.latest .latest_text h2 {
  margin-bottom: 10px;
}
.latest .latest_text p {
  line-height: 30px;
  width: 700px;
  margin: 0 auto;
}
.latest .filter {
  margin-top: 50px;
}
.latest .filter .hide {
  display: none;
}
.latest .filter nav ul {
  display: flex;
  flex-direction: row;
  width: 800px;
  margin: 0 auto;
  justify-content: space-around;
}
.latest .filter nav ul li {
  display: inline-block;
  padding: 10px 20px;
  outline: 2px solid #00897b;
  color: black;
  font-weight: 600;
  cursor: pointer;
  margin-left: 15px;
}
.latest .filter nav ul li:hover {
  color: white;
  background-color: #00897b;
  outline: 2px solid white;
  transition: 0.3s;
}
.latest .filter .galery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.latest .filter .galery .box {
  position: relative;
}
.latest .filter .galery .block {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #00897b;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
}
.latest .filter .galery .block p:first-child {
  font-size: 30px;
}
.latest .filter .galery .box:hover .block {
  visibility: visible;
  transition: 2s;
}
.latest .filter .galery img {
  margin-top: 20px;
  cursor: pointer;
}

.pricing {
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #f0f1f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.pricing .pricing_text {
  text-align: center;
  line-height: 40px;
}
.pricing .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.pricing .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 30px;
  width: 250px;
  height: 420px;
  cursor: pointer;
}
.pricing .cards .card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.pricing .cards .card .card_text p {
  font-size: 25px;
}
.pricing .cards .card .version p {
  border-bottom: 1px solid grey;
  margin-top: 15px;
  cursor: pointer;
}
.pricing .cards .card button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  outline: 2px solid #00897b;
  cursor: pointer;
}
.pricing .cards .card button:hover {
  background-color: #00897b;
  color: #fff;
  transition: 0.4s;
  font-weight: 800;
}
.pricing .cards .card button:hover p {
  font-weight: 800;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .team_text {
  text-align: center;
  line-height: 50px;
}
.team .members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.team .members .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.team .members .card .soc {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 15px;
}
.team .members .card .soc i {
  margin-right: 15px;
  padding: 15px;
  color: #00897b;
  cursor: pointer;
}
.team .members .card .soc i:first-child:hover {
  color: blue;
  transition: 0.4s;
}
.team .members .card .soc i:nth-child(2):hover {
  color: #7d7de9;
  transition: 0.4s;
}
.team .members .card .soc i:nth-child(3):hover {
  color: #e4a64a;
  transition: 0.4s;
}
.team .members .card .soc i:last-child:hover {
  color: #dcdf43;
  transition: 0.4s;
}
.team .members .card p {
  font-weight: 800;
}

.blog {
  margin-top: 70px;
  background-color: #e4fdf9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blog .blog_text {
  padding-top: 30px;
  text-align: center;
  line-height: 40px;
}
.blog .blog_text p {
  max-width: 700px;
  margin: 0 auto;
}
.blog .cards .card {
  border: 2px solid blue;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}
.blog .cards .card img {
  max-width: 100%;
}
.blog .cards .card .card_text {
  border: 2px solid red;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}
.blog .cards .card .card_text .card_text_date {
  display: flex;
  flex-direction: row;
}
.blog .cards .card .card_text .card_text_date p:nth-child(2) {
  margin-left: 20px;
}
.blog .cards .card i {
  margin-right: 5px;
}
.blog .cards .card h3 {
  cursor: pointer;
}
.blog .cards .card h3:hover {
  color: #00897b;
  transition: 0.3s;
}
.blog .cards .card:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.us {
  background-image: url(../img/contact/back_form.png);
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.us .wrapper_us {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 70px;
}
.us .wrapper_us .us_text {
  color: white;
  text-align: center;
}
.us .wrapper_us .us_text h2 {
  font-weight: bold;
}
.us .wrapper_us .us_text p {
  margin-top: 15px;
  line-height: 20px;
}
.us .wrapper_us .icons {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.us .wrapper_us .icons .card {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.us .wrapper_us .icons .card span {
  color: white;
  margin-top: 5px;
}
.us .wrapper_us form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.us .wrapper_us form ::placeholder {
  text-indent: 1.5em;
}
.us .wrapper_us form input {
  border-radius: 10px;
  border: none;
  overflow: visible;
}
.us .wrapper_us form .name_mail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.us .wrapper_us form .name_mail input {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}
.us .wrapper_us form .name_mail input:nth-child(2) {
  margin-left: 20px;
}
.us .wrapper_us form .mes {
  height: 150px;
  margin-bottom: 10px;
}
.us .wrapper_us form input:nth-child(3) {
  width: 100px;
  float: right;
  align-self: flex-end;
  padding: 10px;
  cursor: pointer;
}

footer p {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}